html {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #e5e5e5;
  margin: 0;
}
.page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Side bar */
.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 256px;
  height: 850px;
}

.top-nav-bar {
  flex-basis: 50%;
}
.top {
  display: flex;
  align-items: center;
  color: #109cf1;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 24px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: larger;
}
.profile {
  display: flex;
  flex-direction: row;
  padding: 24px;
}
.image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 10px;
}
.primary-info,
p {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.gmail {
  color: #90a0b7;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px;
  border-bottom: 1px solid #e5e5e5;
}
.dashboard,
.tasks,
.email,
.contacts,
.chat,
.deals {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.text {
  color: #334d6e;
  text-decoration: none;
  padding: 10px 15px;
}
.text-dashboard {
  color: #109cf1;
  text-decoration: none;
  padding: 5px 10px;
}

.bottom-nav-bar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex-basis: 50%;
}
.settings {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 24px;
}
.toggle-sidebar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 24px;
}
.text-toggle-sidebar {
  color: #90a0b7;
  padding: 5px 10px;
  font-size: smaller;
}
/* Main */
.main {
  display: flex;
  flex-direction: column;
}

/* Search bar */
.search-bar {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 1184px;
  height: 60px;
  margin-left: 3px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.global-search {
  text-decoration: none;
  color: #90a0b7;
  flex-grow: 1;
}
/* Content */
.content {
  display: flex;
  flex-direction: row;
  padding: 36px;
}

.charts {
  display: flex;
  margin-left: 36px;
  flex-direction: column;
}
.chart-panel {
  width: 445px;
  height: 344px;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.chart-panel:last-child {
  margin-top: 15px;
}
.chart-panel:first-child {
  margin-bottom: 15px;
}
.chart-panel-img {
  width: 445px;
  height: 344px;
  /* left: 0px;
  top: 0px; */
}

/* Main penal */
.main-panel {
  display: flex;
  flex-flow: column nowrap;
  min-width: 655px;
  min-height: 715px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.top-main-panel {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 33%;
  border-bottom: 1px solid #e5e5e5;
  min-width: 655px;
}
.box1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px;
  font-size: 18px;
}
.text-styling {
  color: #109cf1;
  border: none;
}
.box2 {
  background: #ebeff2;
  border-radius: 3px;
  height: 4px;
  margin: 10px 15px;
}
.line {
  background-color: #2ed47a;
  border-radius: 3px;
  height: 4px;
  width: 75%;
}
.box3 {
  margin: 10px 15px;
  font-size: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.box4 {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 25px;
}
.week-names,
.date-to-week-day {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px;
}
.date-to-week-day {
  font-size: 15px;
}
.monday {
  color: #109cf1;
}
.day-23 {
  color: white;
  border-radius: 50%;
  background-color: #109cf1;
  padding: 4px;
}

.bottom-main-panel {
  display: flex;
  flex-flow: column nowrap;
}

.task1,
.task2,
.task3 {
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin: 20px 15px;
  height: 126px;
}
.task-line1,
.task-line2,
.task-line3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto 0;
  padding: 0 15px;
}
.task-line3,
.task-line1 {
  justify-content: space-between;
}

.image-bottom-main-panel {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}
p {
  padding: 3px;
}

.line3 {
  display: flex;
  justify-content: space-between;
}

.button-ended,
.button-completed {
  width: 84px;
  height: 22px;
  background: #f7685b;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  border: none;
}

.button-completed {
  background: #2ed47a;
  filter: none;
}
p.text-task-right {
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #90a0b7;
}

p.text-task-left {
  font-size: 20px;
  letter-spacing: 0.01em;
  color: black;
}

p.text-task {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #90a0b7;
}
p.text-task-l {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: black7;
}
.button-show-more {
  width: 160px;
  height: 20px;
  color: #109cf1;
  border: none;
  background-color: white;
}
@media only screen and (max-width: 380px) {
  .page-wrapper {
    flex-flow: column nowrap;
  }
  .side-bar {
    display: none;
  }
  .content {
    flex-direction: column;
  }

  .main-panel {
    width: 375px;
    height: 100%;
  }
  .search-global {
    height: 60px;
    width: 375px;
  }
  .box4 {
    display: none;
  }
  .top-main-panel {
    min-width: 375px;
  }

  .chart-panel,
  .chart-panel-img {
    width: 348px;
    height: 226px;
  }
}
