html {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #e5e5e5;
  margin: 0;
}
.page-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}

/* Side bar */
.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 256px;
  min-height: 850px;
  height: 100%;
}

.top-nav-bar {
  flex-basis: 50%;
}
.top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 24px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Open Sans;
  font-size: 18px;
  line-height: 24, 51px;
  line-height: 100%;
  color: #109cf1;
  letter-spacing: 1%;
}
.profile {
  display: flex;
  flex-direction: row;
  padding: 24px;
}
.image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 10px;
}
.primary-info,
p {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.info-style {
  font-style: medium;
  font-size: 14px;
  line-height: 21px;
  line-height: 100%;
  fill: solid #192a3e;
  letter-spacing: 1%;
}
.gmail {
  font-style: medium;
  font-size: 11px;
  line-height: 16.5px;
  line-height: 100%;
  color: #90a0b7;
  letter-spacing: 1%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px;
  border-bottom: 1px solid #e5e5e5;
}
.dashboard,
.tasks,
.email,
.contacts,
.chat,
.deals {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.text {
  font-style: medium;
  font-size: 13px;
  line-height: 19.5px;
  line-height: 100%;
  letter-spacing: 1%;
  text-decoration: none;
  padding: 5px 10px;
  color: #334d6e;
  text-decoration: none;
  padding: 10px 15px;
}
.text-dashboard {
  color: #109cf1;
  font-style: medium;
  font-size: 13px;
  line-height: 19.5px;
  line-height: 100%;
  letter-spacing: 1%;
  text-decoration: none;
  padding: 5px 10px;
}

.bottom-nav-bar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex-basis: 50%;
  flex-grow: 1;
}
.settings {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 24px;
}
.toggle-sidebar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 24px;
}
.text-toggle-sidebar {
  font-style: medium;
  font-size: 11px;
  line-height: 16.5px;
  line-height: 100%;
  color: #90a0b7;
  letter-spacing: 1%;
  padding: 5px 10px;
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 256px);
}

.search-bar {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 60px;
  margin-left: 3px;
  padding: 0px 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100vw;
}
.global-search {
  text-decoration: none;
  color: #90a0b7;
  flex-grow: 1;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 1%;
}
/* Content */
.content {
  display: flex;
  flex-direction: row;
  padding: 36px;
}

.charts {
  display: flex;
  margin-left: 36px;
  flex-direction: column;
}
.chart-panel {
  height: 344px;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.chart-panel:last-child {
  margin-top: 15px;
}
.chart-panel:first-child {
  margin-bottom: 15px;
}
.chart-panel-img {
  width: 445px;
  height: 344px;
  /* left: 0px;
  top: 0px; */
}

/* Main penal */
.main-panel {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  min-width: 635px;
}

.top-main-panel {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 33%;
  border-bottom: 1px solid #e5e5e5;
}
.box1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334d6e;
}
.text-styling {
  color: #109cf1;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
}
.box2 {
  background: #ebeff2;
  border-radius: 3px;
  height: 4px;
  margin: 10px 15px;
}
.line {
  background-color: #2ed47a;
  border-radius: 3px;
  height: 4px;
  width: 75%;
}
.box3 {
  margin: 10px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #192a3e;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.box4 {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 25px;
  font-family: Poppins;
}
.week-names {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #334d6e;
  opacity: 0.5;
}
.date-to-week-day {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #4c5862;
}

.monday {
  color: #109cf1;
}
.day-23 {
  color: white;
  border-radius: 50%;
  background-color: #109cf1;
  padding: 4px;
}

.bottom-main-panel {
  display: flex;
  flex-flow: column nowrap;
}

.task1,
.task2,
.task3 {
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin: 20px 15px;
  height: 126px;
}
.task-line1,
.task-line2,
.task-line3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto 0;
  padding: 0 15px;
}
.task-line3,
.task-line1 {
  justify-content: space-between;
}

.image-bottom-main-panel {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}
p {
  padding: 3px;
}

.line3 {
  display: flex;
  justify-content: space-between;
}

.button-ended,
.button-completed {
  width: 84px;
  height: 22px;
  background: #f7685b;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  border: none;
}

.button-completed {
  background: #2ed47a;
  filter: none;
}
p.text-task-right {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #90a0b7;
}

p.text-task-left {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #323c47;
}

p.text-task {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #4c5862;
  opacity: 0.5;
}
.date-style {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #4c5862;
}

p.text-task-l {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #707683;
}

.button-show-more {
  display: block;
  align-items: center;
  width: 160px;
  height: 20px;
  color: #109cf1;
  border: none;
  background-color: white;
}
@media only screen and (max-width: 380px) {
  .page-wrapper {
    flex-flow: column nowrap;
  }
  .main {
    width: 100%;
  }
  .side-bar {
    display: none;
    width: 0;
  }
  .content {
    padding: 0;
    flex-flow: column nowrap;
  }

  .search-bar {
    width: 100%;
    margin-left: 0;
  }

  .panels {
    flex-flow: column nowrap;
    height: 90vh;
  }

  .main-panel {
    flex-basis: 60%;
    width: 100%;
    min-width: 100%;
    height: 50%;
    border-radius: 0;
  }
  .top-main-panel {
    flex-basis: 30%;
    height: 100%;
  }
  .bottom-main-panel {
    flex-basis: 70%;
    height: 100%;
  }

  .charts {
    height: 40%;
    width: 100%;
    margin-left: 0;
  }
  .chart-panel {
    display: block;
    width: 100%;
    flex-basis: 60%;
    margin: 0;
    border-radius: 0;
  }
  .chart-panel-img {
    width: 100%;
    height: 100%;
  }
  .chart-panel:last-child {
    margin-top: 0px;
  }
  .chart-panel:first-child {
    margin-bottom: 0px;
  }
}
